{% extends 'shared/layout.html' %}

{% block maincontent %}

<aside hidden = "hidden"></aside>

<div class="wrapper">
    <div class="leftbody">
        <img src="../static/main/images/Headshot.jpg"
        class="headshotSizer"
        alt="Jayden DeVaull Headshot"
        title="Jayden DeVaull">
    </div>
    <div id="rightbody" class ="rightbody">
        <h2>Jayden DeVaull Description</h2>
        <p> My name is Jayden DeVaull, Currently a student at Michigan State University. Studying for a Bachelors in Computer Engineering.

            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Pretium vulputate sapien nec sagittis aliquam malesuada bibendum. 
            Diam vel quam elementum pulvinar etiam non. Non quam lacus suspendisse faucibus interdum posuere lorem. 
            Massa eget egestas purus viverra accumsan in. Felis eget nunc lobortis mattis aliquam. 
            A iaculis at erat pellentesque adipiscing commodo elit at imperdiet. 
           
            
    </div>
</div>
<div class="fundiv">
    <h3>Fun Fact</h3>
    <p>{{fun_fact}}</p>
</div>



{% endblock %}


